.isq-symbol-where,
.isq-symbol-remarks {
    opacity: .5;
}

.isq {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.isq-wikidata,
.isq-symbols,
.isq-detail {
    border-left: 3px solid #88888822;
    padding-left: .5rem;
    border-radius: 4px;
}

.isq-detail .isq-where {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    align-items: baseline;
    gap: .25em .5em;
}

.isq-detail .isq-where-row {
    display: contents;
}

.isq-detail .isq-symbol {
    text-align: right;
}

.isq-highlight {
    border-radius: 4px;
    background-color: rgba(var(--highlight-rgb), .1);
    box-shadow: 0 0 6px rgba(var(--highlight-rgb), .3);
}

.isq-highlight.isq-hover {
    background-color: rgba(var(--highlight-rgb), .4);
    box-shadow: 0 0 6px rgba(var(--highlight-rgb), .8);
}