{% extends "_base/attribute.html.jinja" %}
{% import "isq/isq.jinja" as isq %}

{% block contents scoped %}
{{ super() }}
<div class="isq">
    {{ isq.show_wikidata(attribute) }}
    {{ isq.show_symbols(attribute) }}
    {{ isq.show_details(attribute) }}
</div>
{% endblock contents %}