{% extends "_base/function.html.jinja" %}
{% import "isq/isq.jinja" as isq %}

{% block contents scoped %}
{{ super() }}
<div class="isq">
    {{ isq.show_wikidata(function) }}
    {{ isq.show_symbols(function) }}
    {{ isq.show_details(function) }}
</div>
{% endblock contents %}